<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">

<!-- Footer Section -->
<footer class="bg-dark text-white py-4 ">
    <div class="container">
        <div class="row">

            <!-- First Column -->
            <div class="col-md-4">
                <div class="footer-column">
                    <div class="footer-sub-column">
                        <h4>WAQAR AHMED</h4>
                    </div>
                    <div class="footer-sub-column">
                        <li>
                            <a class="mail" href="mailto:waqarahmed1995dob@gmail.com?subject=Hello&body=I%20would%20like%20to%20discuss...">
                                waqarahmed1995dob&#64;gmail.com
                            </a>
                        </li>
                        <li>
                            <a  href="https://europa.eu/europass/eportfolio/api/eprofile/shared-profile/waqar-ahmed/d8de4710-2702-49c3-a4ae-e64dd1d3263e?view=html">
                                Check Out My CV
                            </a>

                        </li>
                    </div>
                </div>
            </div>

            <!-- Second Column -->
            <div class="col-md-4">
                <div class="footer-column">
                    <!-- Quick links -->
                    <div class="footer-sub-column">
                        <h4>Quick Links</h4>
                    </div>
                    <div class="footer-sub-column">
                        <ul>
                            <li><a [routerLink]="'/home'">Home</a></li>
                            <li><a href="/about">About</a></li>
                            <li><a [routerLink]="'/contact'">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Third Column -->
            <div class="col-md-4">
                <div class="footer-column">
                    <div class="footer-sub-column">
                        <h4>Follow Us</h4>
                    </div>
                    <!-- Social links -->
                    <div class="footer-sub-column">
                        <ul>
                            <li><a href="https://www.linkedin.com" target="_blank"><mat-icon>linkedin</mat-icon> </a>
                            </li>
                            <li><a href="https://www.indeed.com" target="_blank"><mat-icon>work</mat-icon></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>