/* header css main section */
mat-toolbar {
  display: flex;
  justify-content: space-between;
  /* Space between items */
  align-items: center;
  /* Vertical alignment */
}

/* for space between name and pages */
.example-spacer {
  flex: 1 1 auto;
}

/* menu button display */
.menu-button {
  display: block;
}

/* media querry for when use menu button to show */
@media (min-width: 701px) {
  .menu-button {
    display: none;
    /* Hide the menu button when the screen is larger than 700px */
  }
}