/* header css main section */
mat-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* for space between name and pages */
.example-spacer {
  flex: 1 1 auto;
}

/* menu button display */
.menu-button {
  display: block;
 
}

button{
 padding: 8px 20px;
 border-radius: 3px;
}

button:hover{
  background-color: #ff5722 ;
  transition: background-color 0.3s ease, color 0.3s ease;
}

a{
text-decoration: none;
color: white;
font-size: 1rem;
}

/* media querry for when use menu button to show */
@media (min-width: 701px) {
  .menu-button {
    display: none;
    /* Hide the menu button when the screen is larger than 700px */
  }
}