<!-- expertise section -->
<mat-grid-list  [cols]="cols" gutterSize="16px">
    <h1><marquee behavior="scroll" direction="left">
      Areas of Expertise
    </marquee></h1>
    
    <mat-grid-tile  *ngFor="let skill of skills">
      <mat-card >
        <mat-card-header >
          <mat-icon  >{{ skill.icon }}</mat-icon>
          <mat-card-title >{{ skill.name }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-progress-bar mode="determinate" [value]="skill.proficiency"></mat-progress-bar>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>

  <!-- kind be text section -->
  <app-developer-intro></app-developer-intro>