/* skills container */
mat-grid-list {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  margin: 20px;
}

/* Reduce space below the header */
mat-card-header {
  padding-bottom: 8px;
}

/* Icon css */
mat-icon{
  color:#e50914 ;
}
 
/* Reduce space above the content */
mat-card-content {
  padding-top: 8px;
}

/* skills heading */
h1 {
  font-size: 40px;
  text-align: center;
  padding-top: 40px;
  color: #e50914;
}

/* media querry upto 400px */
@media only screen and (max-width: 425px) {
  mat-grid-list {
    padding-bottom: calc(250% + -55px) !important;
  }

  /* this is text size of skills like tittle */
  mat-card-title {
    font-size: 0.8em;
  }
}

/* media querry upto 768px */
@media (max-width: 768px) {
  h1 {
    font-size: 25px;
  }

}