<!-- load header component -->
<app-header></app-header> 

<!-- Work for home section -->
<div class="cards-container">
    <!-- text card it has heading + para + button -->
    <mat-card class="text-card">
      <mat-card-header>
        <mat-card-title>Explore My Journey</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Step into my world and explore the milestones, challenges, and achievements that define
             my journey. From humble beginnings to meaningful accomplishments, this is my story of 
             growth and discovery.</p>
            <p> Join me as I share the experiences that have shaped my path, the lessons I've learned,
                 and the passion that continues to drive me forward in every endeavor.</p>
                 <button class="btn_link" mat-button>
                    See My Journey
                    <mat-icon>arrow_forward</mat-icon>
                  </button>
      </mat-card-content>
    </mat-card>
  
    <!-- image card -->
    <mat-card class="image-card" >
      <img mat-card-image src=
      "assets/photo-1650047707920-efce18bd88a1.avif" alt="Example Image">
    </mat-card>
  </div>
  