<!-- container -->
<mat-card class="flex-column-section">
    <mat-card-title>Innovative Web Development <br>
        <div class="highlight">In Italy</div>
    </mat-card-title>

    <!-- Card container -->
    <div class="card-container">
        <mat-card class="small-card">
            <!-- Icons -->
            <mat-icon class="mat-icon-large">airplanemode_active</mat-icon>
            <mat-card-content>
                Easy To Start
            </mat-card-content>
        </mat-card>

        <mat-card class="small-card">
            <!-- Icons -->
            <mat-icon class="mat-icon-large">close</mat-icon>
            <mat-card-content>
                Cancel Any Time
            </mat-card-content>
        </mat-card>

        <mat-card class="small-card">
            <!-- Icons -->
            <mat-icon class="mat-icon-large">location_on</mat-icon>
            <mat-card-content>
                Hire From Anywhere
            </mat-card-content>
        </mat-card>
    </div>

    <!-- button for join us -->
    <button class="btn">Contact Us</button>
</mat-card>
