.sidenav {
    /* Side nav bar main container css */
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: #007bff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    text-align: center;
}

.sidenav a {
    /* css All pages like home..   */
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
}

.sidenav a:not(.closebtn) {
    /* css All pages excluded x like home..   */
    margin: 7vh;
    padding: 8px 8px 8px 32px;
    background-color: #e50914;
    color: #fff;
     
}

.sidenav a:hover:not(.closebtn) {
    /* Hover All pages like home..   */
    background-color: #f1f1f1da;
}

.sidenav a.closebtn:hover {
    /* Hover close button  */
    color: #ff5722;
}

.sidenav .closebtn {
    /*close button css */
    position: absolute;
    top: 0;
    right: 25px;
    padding: 0px 10px;
    font-size: 46px;
    margin-left: 50px;
    border-radius: 50%;
}

